<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <!--
        Thread pool limits typically configured on <processModel> configuration section in machine config. However, machine.config is not available in Azure WebApp.
        The settings configured in pairs max-max, min-min. To make sure these settings apply, each value in a pair should be greater than 0. 
        In addition to <processModel> threads, you can adjust <httpRuntime> threads.
        Example:
          <httpRuntime minFreeThreads="176" minLocalRequestFreeThreads="152" ...../>
        -->
        <processor type="Sitecore.ThreadPool.Configurator.Platform.Pipelines.Initialize.ConfigureProcessModelThreads, Sitecore.ThreadPool.Configurator" resolve="true">
          <maxWorkerThreadsPerCore>20</maxWorkerThreadsPerCore>
          <maxIoThreadsPerCore>20</maxIoThreadsPerCore>
          <minWorkerThreadsPerCore>2</minWorkerThreadsPerCore>
          <minIoThreadsPerCore>5</minIoThreadsPerCore>
        </processor>
      </initialize>
    </pipelines>
  </sitecore>
</configuration>